@tailwind base;
@tailwind components;

/* Write your utility classes here */

@tailwind utilities;

@import '1-settings.scss';

@font-face {
  font-family: "Almendra";
  src: url("./fonts/almendra-v13-latin-regular.woff2");
}

body {
  background: $body-color;

  height: 100vh;
  background-image: url("./img/logo-webpack.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.icon {
  height: 30px;
  width: 30px;
  background-image: url("./img/webpack.svg")
}

.alm-font {
  font-family: 'Almendra';
  font-size: 18px;
}