@tailwind base;
@tailwind components;

/* Write your utility classes here */

@tailwind utilities;

@import '1-settings.scss';

body {
  background: $body-color;

  height: 100vh;
  background-image: url("./img/logo-webpack.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.icon {
  height: 30px;
  width: 30px;
  background-image: url("./img/webpack.svg")
}
